@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
span,
label,
button,
ul,
li,
h4,
h5,
h6 {
    font-size: 16px;
}

/* =====Navbar===== */
.nab_border {
    border-bottom: 1px solid rgb(217, 217, 217);
    /* background: #0051c3; */
}

.support_border {
    box-shadow: 0 0 27px -19px;
    /* border: 1px solid black; */
}

/* SideBarrr */
/* .side_single_content:hover .border_dotted {
    border-bottom: 1px solid black;
} */
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}